PARSEC_model_v.5_1.pptx
HECATE_v1.1.csv
~$PARSEC_model_v.5_1.pptx
parsec_version5_1.ttl
HECATE_columns*
HECATE_part*
HECATE/HECATE_columns.xml
HECATE/HECATE_columns.csv
HECATE/HECATE_columns-inter.xml
HECATE-inter.xml
HECATE/HECATE_column_info.trig
rml_mappings/output_rdf/*
rml_mappings/split_csvs/*
rml_mappings/temp_mapping.ttl
x3ml_mappings/output_rdf/*
rml_merged.ttl
x3ml_merged.trig
x3ml_mappings/x3ml_output_rdf.zip
